.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
.chat-pivot {
  position: relative;
}
.chat-plus {
  display: flex;
  position: absolute;
  background-color: white;
  top: 61px;
  right: 120px;
}
